<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %> <% if (messages && messages.notice) { %>
    <p class="flash-message"><%= messages.notice %></p>
    <% } %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    

<!-- Registeration Form -->
<div class="form-box">
    <form action="/account/register" method="post">
        <div class="fname">
            <label for="firstname">First Name: </label>
            <input id="firstname" name="account_firstname" type="text" placeholder="First Name" 
                required value="<%= locals.account_firstname %>"> 
        </div>
        <div class="lname">
            <label for="lastname">Last Name: </label>
            <input id="lastname" name="account_lastname" type="text" placeholder="Last Name" 
                required value="<%= locals.account_lastname %>"> 
        </div>
        <div class="email">
            <label for="email">Email: </label>
            <input id="email" name="account_email" type="email" placeholder="youremail@email.com" 
                required value="<%= locals.account_email %>"> 
        </div>
        <div class="password">
            <label for="password">Password: </label>  
            <input id="password" name="account_password" type="password" placeholder="Password" required
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"> 
            <p>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</p>
        </div>
        <button type="submit" class="form-btn">Register</button>
    </form>
</div>